*.swp

.irssi/config*
.vim/bundle/*
nohup.out
.config/.mono
.config/configstore/
.config/containers/
.config/gtk-2.0/gtkfilechooser.ini
.config/gcloud/
.config/yarn/global/node_modules/
.config/nvim/pack/kite
.vim/pack/kite

.bin/just
.bin/rt.*
