[user]
	name = Ada Wright
	email = ada@hpk.io
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /app
	directory = /app/.git
	directory = /app/.git
	directory = lib/picata
	directory = lib/picata
